.main {
  width: 100vw;
  height: 100vh;
}

.largeText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.largeText div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.largeText div:last-child {
  justify-content: center;
}
.largeText div h1,
.largeText div h2 {
  margin: 0;
}

.largeText div h1 {
  font-size: 150px;
}
.largeText div h2 {
  font-size: 80px;
}
